@import "src/styles/variables";

.custom-textfield {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4px;

  &__input {
    width: 100%;
    height: 46px;
    border-radius: 26px;
    background: $color-input;
    box-sizing: border-box;

    &:focus-visible {
      outline: 2px solid $color-lightly-gray;
    }
  }

  input {
    font-size: 16px;
  }

  input::placeholder {
    color: $color-light-gray;
  }

  input[type="text"], input[type="email"], input[type="password"] {
    padding-left: 10px;
  }
}
