extends ../../layout/main


block variables
    - const title = 'Чат'

append head-content
    link(href="../../index.scss" rel="stylesheet")

block main-content
    .app

prepend script
    script(src="Chat.ts" type="module")
