@import '../../styles/main.scss';

.profile-page {

  width: 100%;
  height: 120%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-tz;

  .container {
    margin-bottom: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
    min-height: 400px;

    &__avatar {
      width: 100px;
      height: 120px;
      margin-top: 30px;

      &__image {
        width: 70px;
        height: 70px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 10px;
      }

      &__user-name {
        color: $color-white;
        text-align: center;
        margin-left: 10px;
      }

    }

    .wrapper {
      width: 100px;
      height: 100px;
      margin: 25px auto;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      background-color: red;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
      }
    }

    &__field {
      width: 100%;
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
    }

    &__footer {
      margin-top: 30px;

      &-link {
        color: $color-link;
      }
    }

  }
}