extends ../../layout/main
include  ../../components/input/textfield.pug
include  ../../components/button/button.pug

block variables
    - const title = 'Профиль'

append head-content
    link(href="profile.scss" rel="stylesheet")

block main-content
    .profile-page
        form(action='#' method='method').container
            .container__avatar.mb-2
                img(src="../../static/test.jpeg" alt="avatar").container__avatar__image
                span.container__avatar__user-name Василий
            .container__field.mb-2
                +textfield("Имя", "Имя", "first_name", 'text')
            .container__field.mb-2
                +textfield("Фамилия", "Фамилия", "second_name", 'text')
            .container__field.mb-2
                +textfield("Отображаемое имя", "Отображаемое имя", "display_name", 'text')
            .container__field.mb-2
                +textfield("Логин", "Логин", "login", 'text')
            .container__field.mb-2
                +textfield("Почта", "Почта", "email", "email")
            .container__field.mb-2
                +textfield("Телефон", "Телефон", "phone", "text")
            .container__field.mb-2
                +textfield("Старый пароль", "", "oldPassword", "password")
            .container__field.mb-2
                +textfield("Новый пароль", "", "newPassword", "password")
            .container__field.mb-2
                +textfield("Повторите новый пароль", "", "repeatNewPassword", "password")

            .container-form__btn
                +button('Сохранить изменения')



prepend script
    script(src="profile.js")