$bs: 0 0 10px 5px rgba(221, 221, 221, 1);
$color-lightly-gray: #808080;

$color-white: #FFFFFF;
$color-tz: #131c21;
$color-sz: #262d31;
$color-ser: #3c4247;
$color-chat-background: #0c1418;
$color-input: #33383b;
$color-header-footer: #2a2f32;
$color-link: #075373;

