extends layout/main

block variables
    - const title = 'Messanger'

append head-content
    link(href="./index.scss" rel="stylesheet")
    link(href="./styles/normalize.scss" rel="stylesheet")

block main-content
     .start-page
        .welcome-page
            ul.nav
                li.nav-item
                    a(href="pages/auth/Auth.pug").nav-link Логин
                li.nav-item
                    a(href="pages/registration/Registration.pug").nav-link Регистрация
                li.nav-item
                    a(href="pages/profile/Profile.pug").nav-link Профиль
                li.nav-item
                    a(href="pages/chat/Chat.pug").nav-link Чат`

prepend script
    script(src="index.ts" type="module")
