extends layout/main

block variables
    - const title = 'Messanger'

append head-content
    link(href="./index.scss" rel="stylesheet")
    link(href="./styles/normalize.scss" rel="stylesheet")

block main-content
    .app

prepend script
    script(src="index.ts" type="module")
