extends ../../layout/main
include  ../../components/input/textfield.pug
include  ../../components/button/button.pug

block variables
    - const title = 'Ошибка 404'

append head-content
    link(href="error.scss" rel="stylesheet")

block main-content
    .error-page
        h1 ОШИБКА 404

prepend script
    script(src="error404.js")